body {
    background-image: url('/img/table-top-background-.jpg');
}

.note {
    background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
    background: -moz-linear-gradient(#F9EFAF, #F7E98D);
    background: -o-linear-gradient(#F9EFAF, #F7E98D);
    background: -ms-linear-gradient(#F9EFAF, #F7E98D);
    background: linear-gradient(#F9EFAF, #F7E98D);
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    overflow:hidden;
    transition:box-shadow 0.5s ease;
    font-smoothing:subpixel-antialiased;
    margin: 2px 0;
    position: absolute;
    width: 253px;
    max-width: 253px;
    height: 175px;
}

.title {
    font-family: 'Shadows Into Light', cursive;
    background: transparent !important;
    border: none !important;
    display: block;
    font-size: 19px;
    font-weight: bold;
}

.message {
    font-family: 'Shadows Into Light', cursive;
    background: transparent;
    border: none;
    display: block;
    font-size: 19px;
    font-weight: bold;
    height: 111px;
    width: 210px;
}